/*Master.css is the master CSS document for index.html*/

/*Custom classNames */

.topHeader {
    color : whitesmoke;
    text-align: center;
    font-size: xx-large;
    background-color: black;
}

.genericPic {
    width : 25% ;
    height : 25% ;
    border-radius: 5% ;
    align-items: center;
}

